@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script>    
    function incrementQty(id)
    {
        var elementid = "qty" + id;        
        var value = parseInt(document.getElementById(elementid).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById(elementid).value = value;
    }
    function decrementQty(id)
    {
        var elementid = "qty" + id;
        var value = parseInt(document.getElementById(elementid).value, 10);
        value = isNaN(value) ? 0 : value;
        value--;
        if (value <= 0)
        {
            value = 0;
        }        
        document.getElementById(elementid).value = value;
    }    
    function addtoCart(id)
    {       
        var txtElementid = "qty" + id; 
        var buyQty = document.getElementById(txtElementid).value;
        var url = "/Home/AddToCart/?id=" + id + "&qty=" + buyQty;
        console.log("Product ID:", id);
        console.log("Buy Qty:", buyQty);
        console.log("URL:", url);
        $.get(url, function (result)
                               {
                                    console.log("Response:", result);
                               }
        )
        $('.toast').toast('show')
    }
</script>

<div class="row">
    @foreach (var item in Model.ProductList)
    {
        var imgSrc = "/img/" + item.ProductName + ".png";
        var txtQtyID = "qty" + item.ProductID;
        
        <div class="card col-sm-4" style="width: 18rem;">
            <a href=@imgSrc class="cloud-zoom" rel="adjustX: 10, adjustY:-4">
                <img class="card-img-top rounded mx-auto d-block" src=@imgSrc alt="Card image cap" height="200" width="30">
            </a>
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Price:-</p>
                <p>
                    <button class="btn btn-primary" onclick="incrementQty(@item.ProductID)">+</button>
                    <input id=@txtQtyID type="text" maxlength="3" size="1" readonly>
                    <button class="btn btn-primary" onclick="decrementQty(@item.ProductID)">-</button>
                </p>                
                <button class="btn btn-primary" onclick="addtoCart(@item.ProductID)">Add to Cart</button>
            </div>
        </div>
    }
</div>
<div aria-live="polite" aria-atomic="true" style="position: absolute; top: 30%; left: 40%; min-width: 400px; min-width: 400px;">
    <div class="toast text-white bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="900" >
        <div class="toast-header">
            <img src="~/img/addedToCart.png" class="rounded mr-2" alt="Cart Icon">
            <strong class="mr-auto">Cart</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Added to the cart!
        </div>
    </div>
</div>